<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @edm_template.name %>
</p>

<p>
  <b>Preview:</b>
  <%= @edm_template.preview %>
</p>

<p>
  <b>Editingfile:</b>
  <%= @edm_template.editingfile %>
</p>

<p>
  <b>Locked:</b>
  <%= @edm_template.locked %>
</p>

<p>
  <b>Content:</b>
  <textarea style="width:70em;height:35em" readonly>
  <%= @edm_template.content %>
  </textarea>
</p>

<%= link_to 'Edit', edit_edm_template_path(@edm_template) %> |
<%= link_to 'Back', edm_templates_path %>
