  <%= stylesheet_link_tag "pagination" %>
<link rel="stylesheet" href="/assets/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="/assets/fancybox/jquery.fancybox.pack.js"></script>
<style>
/*
	.cell-picname{
		position: relative;
	}
	.clip-button { 
		border:1px solid black; 
		background-color:#ccc; 
		padding:3px; 
		cursor:default; 
	}

	.clip-button.hover { background-color:#eee; }
	.clip-button.active { background-color:#aaa; }
  */

	.thumbnails{
		width: 50px;
		height: 50px;
    margin-left: 0;
	}
  .fancybox:hover img{
    opacity: 0.6;
  }
  </style>

    <h2>
      <p style="color:red"><%= flash[:error] %></p>
    </h2>

    <%= form_tag({:action => :create}, :multipart => true) do |f| %>
      <p> <%= file_field 'image', 'file' %>
        <%= submit_tag "上传图片", :class=> "btn btn-primary btn-large" %>
      </p>
    <% end %>

    <div class="recent">
      <h3>你上传的文件</h3>

      <table class="table">
        <tr>
          <th>预览</th>
          <th>图片地址</th>
          <th>上传日期</th>
          <th>操作</th>
        </tr>

        <% @pics.each do |picture| %>
          <tr>
            <td>
              <a class="fancybox"  href="<%= "/imgs/"+picture.name[0...picture.name.index("_")] + "/" + picture.name%>" target="_blank" rel="gallery">
                <%= image_tag "/imgs/"+picture.name[0...picture.name.index("_")] + "/" + picture.name, :class => "thumbnails", :title=>"点击查看大图" %></a>
            </td>
            <td class="cell-picname">http://pic.chukou1.com/<%= picture.name[0...picture.name.index("_")] + "/"%><span style="color:blue;"><%= picture.name %></span>&nbsp;<span class="btn btn-mini btn-clip" data-filename="<%= picture.name %>">复制</span></td>
            <td><%= distance_of_time_in_words_to_now(picture.created_at) %></td>
            <%#= picture.created_at.strftime('%Y-%m-%d %H:%M:%S')  %>
            <td>
              <% if picture.created_at.day == Date.today.day and picture.created_at.month == Date.today.month %>
                <%= link_to '删除', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>

      <div class="pagination">
        <ul>
          <%= will_paginate @pics, :container => false %>
        </ul>
      </div>
    </div>

  <%= javascript_include_tag "ZeroClipboard.js" %>
  <script>
    var STATIC_BASE = "http://pic.chukou1.com/"
    function initClipBoard() {
      ZeroClipboard.setMoviePath('assets/ZeroClipboard10.swf' );

      $(".btn-clip").each(function(){
        var clip = new ZeroClipboard.Client();
        clip.setHandCursor( true );
		var filename = $(this).data("filename");
		var subdir = filename.substr(0, filename.indexOf("_"));
        clip.setText(STATIC_BASE + subdir + "/" + filename);

        if(window.console){
          clip.addEventListener('load', function (client) {
            console.info("Flash movie loaded and ready.");
          });
        }

        clip.glue(this);
      });
    }

    $(function(){
      initClipBoard();
      $('.fancybox').fancybox({
        "nextClick": true,
        "openEffect": "none",
        "arrows": false
      });
    });
  </script>

