<style>
	.clip-wrap{
		position: relative;
	}
	.clip-button { 
		border:1px solid black; 
		background-color:#ccc; 
		padding:3px; 
		cursor:default; 
	}

	.clip-button.hover { background-color:#eee; }
	.clip-button.active { background-color:#aaa; }

	.thumbnails{
		width: 50px;
		height: 50px;
	}

	.btn-upload{
		width: 150px;
		height: 30px;
		background-color: blue;
		color: white;
		margin-left: 30px;
	}

	form{
		margin: 50px 0;
	}

	.login-info{
		float: right;
	}

	.wrap {
		width: 800px;
		margin: 0 auto;
	}

	table{
		width: 700px;
	}
</style>

<div class="wrap">
<div class="login-info">
	你好：<span><%= current_user.email %></span>&nbsp;<%= link_to "退出", destroy_user_session_url, :method => :delete  %>
</div>

<h1>
	codemama-图片上传
</h1>


<h2>
	<p style="color:red"><%= flash[:error] %></p>
</h2>

<%= form_tag({:action => :create}, :multipart => true) do |f| %>
	<p> <%= file_field 'image', 'file' %>
	<%= submit_tag "上传图片", :class=> "btn-upload" %>
	</p>
<% end %>

<div class="recent">
<h3>你最近上传的文件</h3>

<table>
	<tr>
		<th>预览</th>
		<th>图片名</th>
		<th>上传日期</th>
	</tr>

	<% current_user.recent_pictures.reverse.each do |picture| %>
		<tr>
			<td><%= image_tag "/imgs/"+picture.name[0...picture.name.index("_")] + "/" + picture.name, :class => "thumbnails" %>
				<a href="<%= "/imgs/"+picture.name[0...picture.name.index("_")] + "/" + picture.name%>" target="_blank">大图</a>
			</td>
			<td><%= picture.name %>&nbsp;<span class="clip-button" data-filename="<%= picture.name %>">复制</span></td>
			<td><%= picture.created_at.strftime('%Y-%m-%d %H:%M:%S')  %></td>
		</tr>
	<% end %>
</table>
</div>
</div>

<%= javascript_include_tag "ZeroClipboard.js" %>
<script>
	function initClipBoard() {
		ZeroClipboard.setMoviePath('assets/ZeroClipboard10.swf' );

		$(".clip-button").each(function(){
			var clip = new ZeroClipboard.Client();
			clip.setHandCursor( true );
			clip.setText($(this).data('filename'));

			if(window.console){
				clip.addEventListener('load', function (client) {
					console.info("Flash movie loaded and ready.");
				});
			}

			clip.glue(this);
		});
	}

	$(function(){
		initClipBoard();
	});
</script>

