<h1>Editing edm</h1>

<%= render 'form' %>

<%= link_to '编辑内容', edit_content_edm_path(@edm), {:target => "_blank"}%> |
<%= link_to '预览', preview_edm_path(@edm), {:target => "_blank"} %> |
<%= link_to 'Show', @edm %> |
<%= link_to 'Back', edms_path %>
