<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= @edm.name %></title>
  <link rel="stylesheet" href="http://res.chukou1.com/vendor/redactor/8.0.3/redactor/redactor2.css" />

  <style type="text/css">
  .redactor_toolbar li a.redactor_btn_save{
    background: url(http://pic.chukou1.com/0/0_aef703.png) center center no-repeat;
  }
  .redactor_editor, .redactor_editor:focus {
    padding: 0 !important;
  }
  .icon{
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 10px;
    padding: 10px;
  }
  .download{
    background: white url("/assets/download_64.png") no-repeat center center;
  }
  .preview{
    background: white url("/assets/preview_64.png") no-repeat center center;
  }
  .upload{
    background: white url("/assets/img_upload_64.png") no-repeat center center;
  }
  .back{
    background: white url("/assets/back_64.png") no-repeat center center;
  }
  .edit-html{
    background: white url("/assets/html_edit_64.jpg") no-repeat center center;
  }
  .edit-page{
    background: white url("/assets/rich_edit_64.png") no-repeat center center;
  }
  .icon:hover{
    background-color: #ccc;
  }
  .apptoolbar{
    position: absolute;
    z-index: 2;
    left: 700px;
    top: 20px;
  }
  </style>

  <script src="http://res.chukou1.com/vendor/jquery/1.8/jquery.js"></script>

  <script src="http://res.chukou1.com/vendor/redactor/8.0.3/redactor/redactor2.js"></script>
  <script src="http://res.chukou1.com/vendor/redactor/8.0.3/redactor/fullscreen.js"></script>
  <script src="http://res.chukou1.com/vendor/redactor/8.0.3/redactor/zh_cn.js"></script>
  <script>
    var $authenticity_token =  "<%= form_authenticity_token if protect_against_forgery?  %>";
  </script>
</head>
<body>
    <div class="apptoolbar">
      <%= link_to '', edms_path, :title => "返回EDM列表", :class => 'back icon' %>
      <%= link_to '', pictures_path, :title => "上传图片", :class=>'upload icon', :target=>"_blank" %>
      <%= link_to '', edit_edm_path(@edm), :title => "编码源代码", :class=>'edit-html icon' %>
      <a class="edit-page icon" title="整页编辑"></a>
      <%= link_to '', preview_edm_path(@edm), :title => "预览", :class=>'preview icon', :target=>"_blank" %>
      <%= link_to '', download_edm_path(@edm), :title => "下载", :class=>'download icon' %>
    </div>
    <div id="edm_content" data-update_url="/edms/<%= @edm.id %>" data-update_params='{"utf8":"✓","authenticity_token":"<%= form_authenticity_token if protect_against_forgery? %>","_method":"put"}' data-update_name="edm[content]" >
        <%= raw @edm.content %>
    </div>
    <script src="http://res.chukou1.com/mama/edm/edm.js"></script>
    <script src="http://res.chukou1.com/mama/edm/edit_toolbar.js"></script>
    <script src="http://res.chukou1.com/mama/edm/editor.js"></script>
    <script src="http://res.chukou1.com/mama/edm/text_editor.js"></script>
    <script src="http://res.chukou1.com/mama/edm/line_editor.js"></script>
    <script src="http://res.chukou1.com/mama/edm/rich_editor.js"></script>
    <script src="http://res.chukou1.com/mama/edm/item_editor.js"></script>
    <script src="http://res.chukou1.com/mama/edm/link_prompt.js"></script>
    <script src="http://res.chukou1.com/mama/edm/image_prompt.js"></script>
    <script>
      $edm.init();
      $(".edit-page").click(function(){
        $edm.editors["RichEdit"].startEdit($("#edm_content")[0]);
      });
    </script>
    <link rel="stylesheet" href="http://res.chukou1.com/vendor/jq_ui/1.9.2/css/redmond/jquery-ui-1.9.2.min.css" />
    <script src="http://res.chukou1.com/vendor/jq_ui/1.9.2/js/jquery-ui-1.9.2.min.js"></script>
    <link rel="stylesheet" href="http://res.chukou1.com/vendor/jq_crop/css/imgareaselect-default.css" />
    <script src="http://res.chukou1.com/vendor/jq_crop/scripts/jquery.imgareaselect.pack.js"></script>
</body>
</html>


